@import 'variables';
@import 'modal';

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $font;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $primary-color;
    padding: 2rem 6rem;
}



.nav__headline {

}

.nav__container {

}

.nav__link_item {
    text-decoration: none;
    color: darkslategray;

}
    
.nav__link_item:hover {
    color: lightslategrey;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    margin: 30px 30px;
    height: 400px;
    width: 400px;
    border-radius: 15%;
    

}

.feature__event {

}

.feature__img {

}

.feature__name {

}

.feature__description {

}

.feature__button .button {

}

.event {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 30px 30px;
    background-color: $primary-color;
    
}

.event__box{
    display: flex;
    flex-direction: column;
    background-color: red;  
    margin: 30px 30px;
    width: 40%;
    height: 200px;
    width: 200px;
    border-radius: 15%;
 
   
}



.event__name {
display: flex;
justify-content: center;
align-items: center;
}

.event__button .button{
    width: 40%;
    
}
